<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/top.css}">
    <title>topページ</title>
</head>
<body>
<header>
<video autoplay muted> 
<source src="/images//IMG_2606.mp4"  type="video/mp4">
</video>
</header>
<ul class ="logo">
 <li><a href="#">物件分析サイト</a></li>
</ul>
 <ul class="menu">
  	<li><a href="#">HOME</a></li>
  	<li><a href="add.html" th:href="@{/user/add}" >新規登録</a></li>
  	<li><a href="#">サービス内容</a>
  	<ul>
  	<li><a href="#">使用方法</a></li>
  	<li><a href="#">注意事項</a></li>
  	</ul>
	</li>
  	<li> <a href="#">地域価格比較</a>
  	<ul>
  	<li><a href="#">売買</a></li>
  	<li><a href="#">賃貸</a></li>
  	</ul>
  </li>
    <li><a href="#">お問い合わせ</a></li>
 </ul>
<main>
 <div class="maintop">
  <h1><span>物件分析サイトについて</span></h1>
 </div>
 <div class="mainboximg">
 	<div class="mainbox">
 	<h1>総合比較サイトとして</h1>
 	<br>
 	<p>一般の方でも周辺の家賃相場を比較し、より良い住居に住んで
 	いただくためのサイトです。<br>
 	自身の物件を周辺相場と比較し、家賃・売買価格の目安にしていただければ
 	不動産投資のお役に立てるかと思います。
 	</p>
 	</div>
 	<br>
 </div>
 <div class="maintoplive">
  <h1>住みたい街ランキング</h1>
 </div>
<div class="yokohamabox"> 
<h1>第一位　　神奈川県横浜市</h1>
<div class="yokohama">
</div>
</div>

<div class="hokkaidobox">
<h1>第二位　　北海道札幌市</h1>
<div class="hokkaido">
</div>
</div>

<div class="tokyobox">
<h1>第三位　　東京都港区</h1>
<div class="tokyo">
</div>
</div>


</main>

<footer>
aaaaaaaaaa
aaaaaaaaa

</footer>

</body>
</html>